In [1]:
import pandas as pd

In [2]:
csvfile=pd.read_excel(r"C:\Users\hp\Downloads\practice files\SaleData.xlsx")
csvfile

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95.00,1198.000,113810.00
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50.00,500.000,25000.00
2,2018-02-09,Central,Hermann,Luis,Television,36.00,1198.000,43128.00
3,2018-02-26,Central,Timothy,David,Cell Phone,27.00,225.000,6075.00
4,2018-03-15,West,Timothy,Stephen,Television,56.00,1198.000,67088.00
5,2018-04-01,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00
6,2018-04-18,Central,Martha,Steven,Television,75.00,1198.000,89850.00
7,2018-05-05,Central,Hermann,Luis,Television,90.00,1198.000,107820.00
8,2018-05-22,West,Douglas,Michael,Television,32.00,1198.000,38336.00
9,2018-06-08,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00
10,2018-06-25,Central,Hermann,Sigal,Television,90.00,1198.000,107820.00
11,2018-07-12,East,Martha,Diana,Home Theater,29.00,500.000,14500.00
12,2018-07-29,East,Douglas,Karen,Home Theater,81.00,500.000,40500.00
13,2018-08-15,East,Martha,Alexander,Television,35.00,1198.000,41930.00
14,2018-09-01,Central,Douglas,John,Desk,2.00,125.000,250.00
15,2018-09-18,East,Martha,Alexander,Video Games,16.00,58.500,936.00
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28.00,500.000,14000.00
17,2018-10-22,East,Martha,Alexander,Cell Phone,64.00,225.000,14400.00
18,2018-11-08,East,Douglas,Karen,Cell Phone,15.00,225.000,3375.00
19,2018-11-25,Central,Hermann,Shelli,Video Games,96.00,58.500,5616.00
20,2018-12-12,Central,Douglas,John,Television,67.00,1198.000,80266.00
21,2018-12-29,East,Douglas,Karen,Video Games,74.00,58.500,4329.00
22,2019-01-15,Central,Timothy,David,Home Theater,46.00,500.000,23000.00
23,2019-02-01,Central,Douglas,John,Home Theater,87.00,500.000,43500.00
24,2019-02-18,East,Martha,Alexander,Home Theater,4.00,500.000,2000.00
25,2019-03-07,West,Timothy,Stephen,Home Theater,7.00,500.000,3500.00
26,2019-03-24,Central,Hermann,Luis,Video Games,50.00,58.500,2925.00
27,2019-04-10,Central,Martha,Steven,Television,66.00,1198.000,79068.00
28,2019-04-27,East,Martha,Diana,Cell Phone,96.00,225.000,21600.00
29,2019-05-14,Central,Timothy,David,Television,53.00,1198.000,63494.00
30,2019-05-31,Central,Timothy,David,Home Theater,80.00,500.000,40000.00
31,2019-06-17,Central,Hermann,Shelli,Desk,5.00,125.000,625.00
32,2019-07-04,East,Martha,Alexander,Video Games,62.00,58.500,3627.00
33,2019-07-21,Central,Hermann,Sigal,Video Games,55.00,58.500,3217.50
34,2019-08-07,Central,Hermann,Shelli,Video Games,42.00,58.500,2457.00
35,2019-08-24,West,Timothy,Stephen,Desk,3.00,125.000,375.00
36,2019-09-10,Central,Timothy,David,Television,7.00,1198.000,8386.00
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76.00,225.000,17100.00
38,2019-10-14,West,Douglas,Michael,Home Theater,57.00,500.000,28500.00
39,2019-10-31,Central,Martha,Steven,Television,14.00,1198.000,16772.00
40,2019-11-17,Central,Hermann,Luis,Home Theater,11.00,500.000,5500.00
41,2019-12-04,Central,Hermann,Luis,Home Theater,94.00,500.000,47000.00
42,2019-12-21,Central,Martha,Steven,Home Theater,28.00,500.000,14000.00
43,NaT,NaN,NaN,NaN,NaN,278.00,1125.000,62550.00
44,NaT,NaN,NaN,NaN,NaN,34.75,140.625,7818.75

# to get AP parameteres use csvfile.index

In [7]:
csvfile.index

RangeIndex(start=0, stop=45, step=1)

In [7]:
csvfile.columns

Index(['OrderDate', 'Region', 'Manager', 'SalesMan', 'Item', 'Units',
       'Unit_price', 'Sale_amt'],
      dtype='object')

# it decribe statitics data .describe() for analyze int values

In [13]:
NT=csvfile.describe()
NT

                 OrderDate       Units   Unit_price       Sale_amt
count                   43   45.000000    45.000000      45.000000
mean   2018-12-29 00:00:00   54.083333   583.313889   30578.761111
min    2018-01-06 00:00:00    2.000000    58.500000     250.000000
25%    2018-07-03 12:00:00   28.000000   225.000000    4329.000000
50%    2018-12-29 00:00:00   53.000000   500.000000   17100.000000
75%    2019-06-25 12:00:00   75.000000  1198.000000   43128.000000
max    2019-12-21 00:00:00  278.000000  1198.000000  113810.000000
std                    NaN   45.096676   444.806622   32227.534943

In [18]:
units=NT['Units']

print('total row: ',units['count'])

print('mean of the unit: ',units['mean'])

print('maximum: ',units['max'])

total row:  45.0
mean of the unit:  54.083333333333336
maximum:  278.0

# head(x) get data till x row and tail(x) from bottom

In [14]:
csvfile.head(4)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95.0,1198.0,113810.0
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50.0,500.0,25000.0
2,2018-02-09,Central,Hermann,Luis,Television,36.0,1198.0,43128.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27.0,225.0,6075.0

In [15]:
csvfile.tail(3)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
42,2019-12-21,Central,Martha,Steven,Home Theater,28.00,500.000,14000.00
43,NaT,NaN,NaN,NaN,NaN,278.00,1125.000,62550.00
44,NaT,NaN,NaN,NaN,NaN,34.75,140.625,7818.75

# using slicing of file

In [24]:
csvfile[:3]
csvfile[4:10]

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
4,2018-03-15,West,Timothy,Stephen,Television,56.0,1198.0,67088.0
5,2018-04-01,East,Martha,Alexander,Home Theater,60.0,500.0,30000.0
6,2018-04-18,Central,Martha,Steven,Television,75.0,1198.0,89850.0
7,2018-05-05,Central,Hermann,Luis,Television,90.0,1198.0,107820.0
8,2018-05-22,West,Douglas,Michael,Television,32.0,1198.0,38336.0
9,2018-06-08,East,Martha,Alexander,Home Theater,60.0,500.0,30000.0

In [25]:
csvfile.index.array

<NumpyExtensionArray>
[ np.int64(0),  np.int64(1),  np.int64(2),  np.int64(3),  np.int64(4),
  np.int64(5),  np.int64(6),  np.int64(7),  np.int64(8),  np.int64(9),
 np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14),
 np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19),
 np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24),
 np.int64(25), np.int64(26), np.int64(27), np.int64(28), np.int64(29),
 np.int64(30), np.int64(31), np.int64(32), np.int64(33), np.int64(34),
 np.int64(35), np.int64(36), np.int64(37), np.int64(38), np.int64(39),
 np.int64(40), np.int64(41), np.int64(42), np.int64(43), np.int64(44)]
Length: 45, dtype: int64

# give to a 2d array in numpy format

In [27]:
csvfile.to_numpy()

array([[Timestamp('2018-01-06 00:00:00'), 'East', 'Martha', 'Alexander',
        'Television', 95.0, 1198.0, 113810.0],
       [Timestamp('2018-01-23 00:00:00'), 'Central', 'Hermann', 'Shelli',
        'Home Theater', 50.0, 500.0, 25000.0],
       [Timestamp('2018-02-09 00:00:00'), 'Central', 'Hermann', 'Luis',
        'Television', 36.0, 1198.0, 43128.0],
       [Timestamp('2018-02-26 00:00:00'), 'Central', 'Timothy', 'David',
        'Cell Phone', 27.0, 225.0, 6075.0],
       [Timestamp('2018-03-15 00:00:00'), 'West', 'Timothy', 'Stephen',
        'Television', 56.0, 1198.0, 67088.0],
       [Timestamp('2018-04-01 00:00:00'), 'East', 'Martha', 'Alexander',
        'Home Theater', 60.0, 500.0, 30000.0],
       [Timestamp('2018-04-18 00:00:00'), 'Central', 'Martha', 'Steven',
        'Television', 75.0, 1198.0, 89850.0],
       [Timestamp('2018-05-05 00:00:00'), 'Central', 'Hermann', 'Luis',
        'Television', 90.0, 1198.0, 107820.0],
       [Timestamp('2018-05-22 00:00:00'), 'West', 'Douglas', 'Michael',
        'Television', 32.0, 1198.0, 38336.0],
       [Timestamp('2018-06-08 00:00:00'), 'East', 'Martha', 'Alexander',
        'Home Theater', 60.0, 500.0, 30000.0],
       [Timestamp('2018-06-25 00:00:00'), 'Central', 'Hermann', 'Sigal',
        'Television', 90.0, 1198.0, 107820.0],
       [Timestamp('2018-07-12 00:00:00'), 'East', 'Martha', 'Diana',
        'Home Theater', 29.0, 500.0, 14500.0],
       [Timestamp('2018-07-29 00:00:00'), 'East', 'Douglas', 'Karen',
        'Home Theater', 81.0, 500.0, 40500.0],
       [Timestamp('2018-08-15 00:00:00'), 'East', 'Martha', 'Alexander',
        'Television', 35.0, 1198.0, 41930.0],
       [Timestamp('2018-09-01 00:00:00'), 'Central', 'Douglas', 'John',
        'Desk', 2.0, 125.0, 250.0],
       [Timestamp('2018-09-18 00:00:00'), 'East', 'Martha', 'Alexander',
        'Video Games', 16.0, 58.5, 936.0],
       [Timestamp('2018-10-05 00:00:00'), 'Central', 'Hermann', 'Sigal',
        'Home Theater', 28.0, 500.0, 14000.0],
       [Timestamp('2018-10-22 00:00:00'), 'East', 'Martha', 'Alexander',
        'Cell Phone', 64.0, 225.0, 14400.0],
       [Timestamp('2018-11-08 00:00:00'), 'East', 'Douglas', 'Karen',
        'Cell Phone', 15.0, 225.0, 3375.0],
       [Timestamp('2018-11-25 00:00:00'), 'Central', 'Hermann', 'Shelli',
        'Video Games', 96.0, 58.5, 5616.0],
       [Timestamp('2018-12-12 00:00:00'), 'Central', 'Douglas', 'John',
        'Television', 67.0, 1198.0, 80266.0],
       [Timestamp('2018-12-29 00:00:00'), 'East', 'Douglas', 'Karen',
        'Video Games', 74.0, 58.5, 4329.0],
       [Timestamp('2019-01-15 00:00:00'), 'Central', 'Timothy', 'David',
        'Home Theater', 46.0, 500.0, 23000.0],
       [Timestamp('2019-02-01 00:00:00'), 'Central', 'Douglas', 'John',
        'Home Theater', 87.0, 500.0, 43500.0],
       [Timestamp('2019-02-18 00:00:00'), 'East', 'Martha', 'Alexander',
        'Home Theater', 4.0, 500.0, 2000.0],
       [Timestamp('2019-03-07 00:00:00'), 'West', 'Timothy', 'Stephen',
        'Home Theater', 7.0, 500.0, 3500.0],
       [Timestamp('2019-03-24 00:00:00'), 'Central', 'Hermann', 'Luis',
        'Video Games', 50.0, 58.5, 2925.0],
       [Timestamp('2019-04-10 00:00:00'), 'Central', 'Martha', 'Steven',
        'Television', 66.0, 1198.0, 79068.0],
       [Timestamp('2019-04-27 00:00:00'), 'East', 'Martha', 'Diana',
        'Cell Phone', 96.0, 225.0, 21600.0],
       [Timestamp('2019-05-14 00:00:00'), 'Central', 'Timothy', 'David',
        'Television', 53.0, 1198.0, 63494.0],
       [Timestamp('2019-05-31 00:00:00'), 'Central', 'Timothy', 'David',
        'Home Theater', 80.0, 500.0, 40000.0],
       [Timestamp('2019-06-17 00:00:00'), 'Central', 'Hermann', 'Shelli',
        'Desk', 5.0, 125.0, 625.0],
       [Timestamp('2019-07-04 00:00:00'), 'East', 'Martha', 'Alexander',
        'Video Games', 62.0, 58.5, 3627.0],
       [Timestamp('2019-07-21 00:00:00'), 'Central', 'Hermann', 'Sigal',
        'Video Games', 55.0, 58.5, 3217.5],
       [Timestamp('2019-08-07 00:00:00'), 'Central', 'Hermann', 'Shelli',
        'Video Games', 42.0, 58.5, 2457.0],
       [Timestamp('2019-08-24 00:00:00'), 'West', 'Timothy', 'Stephen',
        'Desk', 3.0, 125.0, 375.0],
       [Timestamp('2019-09-10 00:00:00'), 'Central', 'Timothy', 'David',
        'Television', 7.0, 1198.0, 8386.0],
       [Timestamp('2019-09-27 00:00:00'), 'West', 'Timothy', 'Stephen',
        'Cell Phone', 76.0, 225.0, 17100.0],
       [Timestamp('2019-10-14 00:00:00'), 'West', 'Douglas', 'Michael',
        'Home Theater', 57.0, 500.0, 28500.0],
       [Timestamp('2019-10-31 00:00:00'), 'Central', 'Martha', 'Steven',
        'Television', 14.0, 1198.0, 16772.0],
       [Timestamp('2019-11-17 00:00:00'), 'Central', 'Hermann', 'Luis',
        'Home Theater', 11.0, 500.0, 5500.0],
       [Timestamp('2019-12-04 00:00:00'), 'Central', 'Hermann', 'Luis',
        'Home Theater', 94.0, 500.0, 47000.0],
       [Timestamp('2019-12-21 00:00:00'), 'Central', 'Martha', 'Steven',
        'Home Theater', 28.0, 500.0, 14000.0],
       [NaT, nan, nan, nan, nan, 278.0, 1125.0, 62550.0],
       [NaT, nan, nan, nan, nan, 34.75, 140.625, 7818.75]], dtype=object)

# acending and descending sort(axis=0,1, ascending=true/false)

In [34]:
csvfile.sort_index(axis=0,ascending=False)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
44,NaT,NaN,NaN,NaN,NaN,34.75,140.625,7818.75
43,NaT,NaN,NaN,NaN,NaN,278.00,1125.000,62550.00
42,2019-12-21,Central,Martha,Steven,Home Theater,28.00,500.000,14000.00
41,2019-12-04,Central,Hermann,Luis,Home Theater,94.00,500.000,47000.00
40,2019-11-17,Central,Hermann,Luis,Home Theater,11.00,500.000,5500.00
39,2019-10-31,Central,Martha,Steven,Television,14.00,1198.000,16772.00
38,2019-10-14,West,Douglas,Michael,Home Theater,57.00,500.000,28500.00
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76.00,225.000,17100.00
36,2019-09-10,Central,Timothy,David,Television,7.00,1198.000,8386.00
35,2019-08-24,West,Timothy,Stephen,Desk,3.00,125.000,375.00
34,2019-08-07,Central,Hermann,Shelli,Video Games,42.00,58.500,2457.00
33,2019-07-21,Central,Hermann,Sigal,Video Games,55.00,58.500,3217.50
32,2019-07-04,East,Martha,Alexander,Video Games,62.00,58.500,3627.00
31,2019-06-17,Central,Hermann,Shelli,Desk,5.00,125.000,625.00
30,2019-05-31,Central,Timothy,David,Home Theater,80.00,500.000,40000.00
29,2019-05-14,Central,Timothy,David,Television,53.00,1198.000,63494.00
28,2019-04-27,East,Martha,Diana,Cell Phone,96.00,225.000,21600.00
27,2019-04-10,Central,Martha,Steven,Television,66.00,1198.000,79068.00
26,2019-03-24,Central,Hermann,Luis,Video Games,50.00,58.500,2925.00
25,2019-03-07,West,Timothy,Stephen,Home Theater,7.00,500.000,3500.00
24,2019-02-18,East,Martha,Alexander,Home Theater,4.00,500.000,2000.00
23,2019-02-01,Central,Douglas,John,Home Theater,87.00,500.000,43500.00
22,2019-01-15,Central,Timothy,David,Home Theater,46.00,500.000,23000.00
21,2018-12-29,East,Douglas,Karen,Video Games,74.00,58.500,4329.00
20,2018-12-12,Central,Douglas,John,Television,67.00,1198.000,80266.00
19,2018-11-25,Central,Hermann,Shelli,Video Games,96.00,58.500,5616.00
18,2018-11-08,East,Douglas,Karen,Cell Phone,15.00,225.000,3375.00
17,2018-10-22,East,Martha,Alexander,Cell Phone,64.00,225.000,14400.00
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28.00,500.000,14000.00
15,2018-09-18,East,Martha,Alexander,Video Games,16.00,58.500,936.00
14,2018-09-01,Central,Douglas,John,Desk,2.00,125.000,250.00
13,2018-08-15,East,Martha,Alexander,Television,35.00,1198.000,41930.00
12,2018-07-29,East,Douglas,Karen,Home Theater,81.00,500.000,40500.00
11,2018-07-12,East,Martha,Diana,Home Theater,29.00,500.000,14500.00
10,2018-06-25,Central,Hermann,Sigal,Television,90.00,1198.000,107820.00
9,2018-06-08,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00
8,2018-05-22,West,Douglas,Michael,Television,32.00,1198.000,38336.00
7,2018-05-05,Central,Hermann,Luis,Television,90.00,1198.000,107820.00
6,2018-04-18,Central,Martha,Steven,Television,75.00,1198.000,89850.00
5,2018-04-01,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00
4,2018-03-15,West,Timothy,Stephen,Television,56.00,1198.000,67088.00
3,2018-02-26,Central,Timothy,David,Cell Phone,27.00,225.000,6075.00
2,2018-02-09,Central,Hermann,Luis,Television,36.00,1198.000,43128.00
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50.00,500.000,25000.00
0,2018-01-06,East,Martha,Alexander,Television,95.00,1198.000,113810.00

# to change values in the data loc[row,column]

In [23]:
csvfile.loc[0,"Region"]="outside"
csvfile

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,outside,Martha,Alexander,Television,95.00,1198.000,113810.00
1,2018-01-23,gurugram,Hermann,Shelli,Home Theater,50.00,500.000,25000.00
2,2018-02-09,hariyana,Hermann,Luis,Television,36.00,1198.000,43128.00
3,2018-02-26,gujrat,Timothy,David,Cell Phone,27.00,225.000,6075.00
4,2018-03-15,West,Timothy,Stephen,Television,56.00,1198.000,67088.00
5,2018-04-01,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00
6,2018-04-18,Central,Martha,Steven,Television,75.00,1198.000,89850.00
7,2018-05-05,Central,Hermann,Luis,Television,90.00,1198.000,107820.00
8,2018-05-22,West,Douglas,Michael,Television,32.00,1198.000,38336.00
9,2018-06-08,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00
10,2018-06-25,Central,Hermann,Sigal,Television,90.00,1198.000,107820.00
11,2018-07-12,East,Martha,Diana,Home Theater,29.00,500.000,14500.00
12,2018-07-29,East,Douglas,Karen,Home Theater,81.00,500.000,40500.00
13,2018-08-15,East,Martha,Alexander,Television,35.00,1198.000,41930.00
14,2018-09-01,Central,Douglas,John,Desk,2.00,125.000,250.00
15,2018-09-18,East,Martha,Alexander,Video Games,16.00,58.500,936.00
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28.00,500.000,14000.00
17,2018-10-22,East,Martha,Alexander,Cell Phone,64.00,225.000,14400.00
18,2018-11-08,East,Douglas,Karen,Cell Phone,15.00,225.000,3375.00
19,2018-11-25,Central,Hermann,Shelli,Video Games,96.00,58.500,5616.00
20,2018-12-12,Central,Douglas,John,Television,67.00,1198.000,80266.00
21,2018-12-29,East,Douglas,Karen,Video Games,74.00,58.500,4329.00
22,2019-01-15,Central,Timothy,David,Home Theater,46.00,500.000,23000.00
23,2019-02-01,Central,Douglas,John,Home Theater,87.00,500.000,43500.00
24,2019-02-18,East,Martha,Alexander,Home Theater,4.00,500.000,2000.00
25,2019-03-07,West,Timothy,Stephen,Home Theater,7.00,500.000,3500.00
26,2019-03-24,Central,Hermann,Luis,Video Games,50.00,58.500,2925.00
27,2019-04-10,Central,Martha,Steven,Television,66.00,1198.000,79068.00
28,2019-04-27,East,Martha,Diana,Cell Phone,96.00,225.000,21600.00
29,2019-05-14,Central,Timothy,David,Television,53.00,1198.000,63494.00
30,2019-05-31,Central,Timothy,David,Home Theater,80.00,500.000,40000.00
31,2019-06-17,Central,Hermann,Shelli,Desk,5.00,125.000,625.00
32,2019-07-04,East,Martha,Alexander,Video Games,62.00,58.500,3627.00
33,2019-07-21,Central,Hermann,Sigal,Video Games,55.00,58.500,3217.50
34,2019-08-07,Central,Hermann,Shelli,Video Games,42.00,58.500,2457.00
35,2019-08-24,West,Timothy,Stephen,Desk,3.00,125.000,375.00
36,2019-09-10,Central,Timothy,David,Television,7.00,1198.000,8386.00
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76.00,225.000,17100.00
38,2019-10-14,West,Douglas,Michael,Home Theater,57.00,500.000,28500.00
39,2019-10-31,Central,Martha,Steven,Television,14.00,1198.000,16772.00
40,2019-11-17,Central,Hermann,Luis,Home Theater,11.00,500.000,5500.00
41,2019-12-04,Central,Hermann,Luis,Home Theater,94.00,500.000,47000.00
42,2019-12-21,Central,Martha,Steven,Home Theater,28.00,500.000,14000.00
43,NaT,NaN,NaN,NaN,NaN,278.00,1125.000,62550.00
44,NaT,NaN,NaN,NaN,NaN,34.75,140.625,7818.75

In [ ]:
csvfile.loc[0,"Region"]="outside"
n=csvfile.index.stop/9
z=int(n)
for i in range(0,z):
    change=input("changes write here: ")
    csvfile.loc[i,"Region"]=change
csvfile

changes write here:  delhi
changes write here:  bihar

# to get long data according to user loc[[1,2,3,4...],["col1","col2"...]]

In [47]:
csvfile.loc[[1,2,3],["Item","SalesMan"]]

           Item SalesMan
1  Home Theater   Shelli
2    Television     Luis
3    Cell Phone    David

In [49]:
csvfile[["Item","SalesMan"]]

            Item   SalesMan
0     Television  Alexander
1   Home Theater     Shelli
2     Television       Luis
3     Cell Phone      David
4     Television    Stephen
5   Home Theater  Alexander
6     Television     Steven
7     Television       Luis
8     Television    Michael
9   Home Theater  Alexander
10    Television      Sigal
11  Home Theater      Diana
12  Home Theater      Karen
13    Television  Alexander
14          Desk       John
15   Video Games  Alexander
16  Home Theater      Sigal
17    Cell Phone  Alexander
18    Cell Phone      Karen
19   Video Games     Shelli
20    Television       John
21   Video Games      Karen
22  Home Theater      David
23  Home Theater       John
24  Home Theater  Alexander
25  Home Theater    Stephen
26   Video Games       Luis
27    Television     Steven
28    Cell Phone      Diana
29    Television      David
30  Home Theater      David
31          Desk     Shelli
32   Video Games  Alexander
33   Video Games      Sigal
34   Video Games     Shelli
35          Desk    Stephen
36    Television      David
37    Cell Phone    Stephen
38  Home Theater    Michael
39    Television     Steven
40  Home Theater       Luis
41  Home Theater       Luis
42  Home Theater     Steven
43           NaN        NaN
44           NaN        NaN

In [55]:
csvfile.loc[[1,2,3,8],:]

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,"(0, Region)"
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50.0,500.0,25000.0,outside
2,2018-02-09,Central,Hermann,Luis,Television,36.0,1198.0,43128.0,outside
3,2018-02-26,Central,Timothy,David,Cell Phone,27.0,225.0,6075.0,outside
8,2018-05-22,West,Douglas,Michael,Television,32.0,1198.0,38336.0,outside

In [61]:
csvfile.drop([1,2,3],axis=0)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,"(0, Region)"
0,2018-01-06,outside,Martha,Alexander,Television,95.00,1198.000,113810.00,outside
4,2018-03-15,West,Timothy,Stephen,Television,56.00,1198.000,67088.00,outside
5,2018-04-01,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00,outside
6,2018-04-18,Central,Martha,Steven,Television,75.00,1198.000,89850.00,outside
7,2018-05-05,Central,Hermann,Luis,Television,90.00,1198.000,107820.00,outside
8,2018-05-22,West,Douglas,Michael,Television,32.00,1198.000,38336.00,outside
9,2018-06-08,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00,outside
10,2018-06-25,Central,Hermann,Sigal,Television,90.00,1198.000,107820.00,outside
11,2018-07-12,East,Martha,Diana,Home Theater,29.00,500.000,14500.00,outside
12,2018-07-29,East,Douglas,Karen,Home Theater,81.00,500.000,40500.00,outside
13,2018-08-15,East,Martha,Alexander,Television,35.00,1198.000,41930.00,outside
14,2018-09-01,Central,Douglas,John,Desk,2.00,125.000,250.00,outside
15,2018-09-18,East,Martha,Alexander,Video Games,16.00,58.500,936.00,outside
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28.00,500.000,14000.00,outside
17,2018-10-22,East,Martha,Alexander,Cell Phone,64.00,225.000,14400.00,outside
18,2018-11-08,East,Douglas,Karen,Cell Phone,15.00,225.000,3375.00,outside
19,2018-11-25,Central,Hermann,Shelli,Video Games,96.00,58.500,5616.00,outside
20,2018-12-12,Central,Douglas,John,Television,67.00,1198.000,80266.00,outside
21,2018-12-29,East,Douglas,Karen,Video Games,74.00,58.500,4329.00,outside
22,2019-01-15,Central,Timothy,David,Home Theater,46.00,500.000,23000.00,outside
23,2019-02-01,Central,Douglas,John,Home Theater,87.00,500.000,43500.00,outside
24,2019-02-18,East,Martha,Alexander,Home Theater,4.00,500.000,2000.00,outside
25,2019-03-07,West,Timothy,Stephen,Home Theater,7.00,500.000,3500.00,outside
26,2019-03-24,Central,Hermann,Luis,Video Games,50.00,58.500,2925.00,outside
27,2019-04-10,Central,Martha,Steven,Television,66.00,1198.000,79068.00,outside
28,2019-04-27,East,Martha,Diana,Cell Phone,96.00,225.000,21600.00,outside
29,2019-05-14,Central,Timothy,David,Television,53.00,1198.000,63494.00,outside
30,2019-05-31,Central,Timothy,David,Home Theater,80.00,500.000,40000.00,outside
31,2019-06-17,Central,Hermann,Shelli,Desk,5.00,125.000,625.00,outside
32,2019-07-04,East,Martha,Alexander,Video Games,62.00,58.500,3627.00,outside
33,2019-07-21,Central,Hermann,Sigal,Video Games,55.00,58.500,3217.50,outside
34,2019-08-07,Central,Hermann,Shelli,Video Games,42.00,58.500,2457.00,outside
35,2019-08-24,West,Timothy,Stephen,Desk,3.00,125.000,375.00,outside
36,2019-09-10,Central,Timothy,David,Television,7.00,1198.000,8386.00,outside
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76.00,225.000,17100.00,outside
38,2019-10-14,West,Douglas,Michael,Home Theater,57.00,500.000,28500.00,outside
39,2019-10-31,Central,Martha,Steven,Television,14.00,1198.000,16772.00,outside
40,2019-11-17,Central,Hermann,Luis,Home Theater,11.00,500.000,5500.00,outside
41,2019-12-04,Central,Hermann,Luis,Home Theater,94.00,500.000,47000.00,outside
42,2019-12-21,Central,Martha,Steven,Home Theater,28.00,500.000,14000.00,outside
43,NaT,NaN,NaN,NaN,NaN,278.00,1125.000,62550.00,outside
44,NaT,NaN,NaN,NaN,NaN,34.75,140.625,7818.75,outside