In [1]:
import pandas as pd
var=pd.read_excel(r'C:\\Users\\hp\\Downloads\\practice files\\storeRaw.xlsx')

var.fillna("hyy")
var

,Lookup Table 1,Unnamed: 1,Unnamed: 2,Order ID,Order Date,Order Priority,Order Quantity,Order Type,Expanded Order Type,Sales,Discount,Sales with Discount,Sales with Free Shipping,Ship Mode,Shipping Cost
0,Order Quantity,Type,NaN,51648,2012-01-01,Low,45,Large,NaN,2354.80,NaN,NaN,NaN,Regular Air,19.99
1,1,Mini,NaN,51648,2012-01-01,Low,50,NaN,NaN,187.88,NaN,NaN,NaN,Regular Air,2.97
2,6,Extra Small,NaN,29030,2012-01-02,Medium,10,NaN,NaN,192.58,NaN,NaN,NaN,Regular Air,4.10
3,11,Small,NaN,54214,2012-01-02,Medium,38,NaN,NaN,7325.63,NaN,NaN,NaN,Express Air,24.49
4,16,Small-Medium,NaN,47591,2012-01-02,Critical,27,NaN,NaN,279.40,NaN,NaN,NaN,Regular Air,6.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2097,NaN,NaN,NaN,49344,2012-12-30,Low,31,NaN,NaN,672.93,NaN,NaN,NaN,Regular Air,4.00
2098,NaN,NaN,NaN,25542,2012-12-30,Low,37,NaN,NaN,257.46,NaN,NaN,NaN,Express Air,4.23
2099,NaN,NaN,NaN,50950,2012-12-30,Not Specified,35,NaN,NaN,448.10,NaN,NaN,NaN,Express Air,4.51
2100,NaN,NaN,NaN,45127,2012-12-30,Medium,10,NaN,NaN,14.15,NaN,NaN,NaN,Regular Air,0.70
2101,NaN,NaN,NaN,47815,2012-12-30,Not Specified,45,NaN,NaN,580.96,NaN,NaN,NaN,Regular Air,6.85